@model IEnumerable<VaccineManagementAPI.Models.Slot>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    string[] TableHeaders = new string[] {"DoseNo"
                        ,"Status"
                        ,"Date"
                       ,"CenterId"
                        ,"VaccineId"
                        , "Edit/Delete"

                        };
}



<p>
    <button style="border-radius: 30px; border: none; padding: 15px 20px; background-color:#2dee07; color: white;margin-top:50px; ">@Html.ActionLink("Add Slots", "Create") </button>

</p>


<div class="table" style="text-align:center;margin-top:70px;">
    <table id="myTable" class="table table-bordered table-hover table-sm">
        <thead style="background-color:#118ee8;color:white;">
            <tr style="align-items:center;">
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th style="text-align:center;">
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoseNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    @*<td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.CenterId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VaccineId)
                    </td>
                    <td style="background-color:#e8eff4">
                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span>@Html.ActionLink("..", "Edit", new { id = item.SlotId })</button> <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete">
                                <span class="glyphicon glyphicon-trash"></span> @Html.ActionLink("..", "Delete", new { id = item.SlotId })
                            </button>
                        </p>

                        
                   
                      
                     </td>
                 </tr>
             }

        </tbody>
    </table>
</div>